<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YoutubeCommentsParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <YoutubeCommentsParser.Properties.Settings>
      <setting name="WordsTonalityFilename" serializeAs="String">
        <value>Content\words_tonality.csv</value>
      </setting>
      <setting name="GetGoogleApiKeyUrl" serializeAs="String">
        <value>https://console.developers.google.com/apis/credentials</value>
      </setting>
      <setting name="DeveloperSiteUrl" serializeAs="String">
        <value>https://www.vk.com/zufalligeseite</value>
      </setting>
      <setting name="AppDataFilePath" serializeAs="String">
        <value>Content\app data.dat</value>
      </setting>
    </YoutubeCommentsParser.Properties.Settings>
    <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
        <file type="log4net.Util.PatternString" value="Logs\log - %date{dd MMMM yyyy}.log" />
        <appendToFile value="true" />
        <bufferSize value="20" />
        <LockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <header type="log4net.Util.PatternString" value="[Log Starts %date{HH:mm}]%newline" />
          <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
          <conversionPattern value=" [%username %date{HH:mm:ss.ff}] - %message%newline" />
        </layout>

      </appender>

      <!-- Specify the level for some specific categories -->
      <logger name="FileLogger">
        <level value="ALL" />
        <appender-ref ref="LogFileAppender" />

      </logger>
    </log4net>
  </applicationSettings>
</configuration>